* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#image{
    margin: auto;
    width:100%;
    max-width: 625px;
    display:block;
}
#img-caption {
    margin: 20px;
}
#title {
    font-weight: bold;
    margin: 40px;
    background-color: burlywood;
    border-radius: 20px;
}
#tribute-info {
    margin: 50px;
    text-align: left;
}
#footer {
    font-size: 35px;
}
a {
    text-decoration: none;
    color: black;
}
body{
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    width:100%;
}
a:hover {
    font-size: 38px;
    color: red;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
}
